vti_encoding:SR|utf8-nl
vti_featurelist:VX|vti_ACIPAddresses vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServiceMarkUrlDirExec vti_ServerEmailTransport
vti_dependenciesood:IR|0
vti_cachemaxincludesize:SX|256
vti_cachemaximage:SX|16
vti_webservertype:SR|msiis
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_navbuttonnextlabel:SR|Next
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_timecreated:TR|30 Sep 2003 12:25:55 -0000
vti_extenderversion:SR|4.0.2.6513
vti_navbuttonprevlabel:SR|Back
vti_cachemaxdocmeta:SX|4096
vti_longfilenames:IX|1
vti_welcomenames:VX|Default.htm Default.asp index.htm iisstart.asp Default.aspx
vti_secureserverurl:SR|https://localhost
vti_oldestcompatibleversion:SR|2.0.0.0
vti_vidthemename:SW|
vti_restartmanual:IX|0
vti_defaultcharset:SR|none
vti_defaultlanguage:SR|en-us
vti_vidlayoutname:SW|
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_cachemaxinclude:SX|64
vti_htmlextensions:SX|.htm.html.htx.plg.shtml.stm.stm.html.htm.shtm.htt.asp.alx.asa.
vti_navbuttonhomelabel:SR|Home
vti_textmemory:SX|2
vti_insecureserverurl:SR|http://localhost
vti_disableautoimgsizeexts:SX|.asp
vti_casesensitiveurls:IX|0
vti_httpdversion:SX|Microsoft-IIS/5.1
vti_textextensions:SX|.txt.actproj.cs.dbs.etp.ext.fky.jsl.kci.lgn.prc.rc.rc2.rct.rul.sql.tab.trg.txt.udf.udt.user.usr.vap.vb.viw.vspscc.vsscc.vssscc.
vti_navbuttonuplabel:SR|Up
vti_ignorekeyboard:IR|0
